<a href="https://colab.research.google.com/github/AbdulHafidh-AI/ALPHANCODERS_Hospital-Management-Time/blob/main/GlobalCarProduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### JUDUL: GLOBAL CAR PRODUCTION

### Anggota Kelompok
 <li><em>Abdul Hafidh</em>  (2008107010056)</li>
  <li><em>Amar Suhendra</em> (2008107010091)</li>
  <li><em>Daffa Mudhaffar</em> (2008107010013</li>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [ ]:
sample = pd.read_csv("https://raw.githubusercontent.com/AbdulHafidh-AI/ProyekVisdat/main/Global%20Car%20Production%201950-2019.csv");

### 1. EXPLORATORY DATA ANALYSIS

Melihat data 5 teratas

In [ ]:
sample.head()

,Country,1950,1955,1960,1965,1970,1975,1980,1985,1990,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 32
0,China,0,0,"22,574","54,87","87,166","154,727","222,288","365,765","509,242",...,"18,418,876","19,271,808","22,116,825","23,722,890","24,503,326","28,118,794","29,015,434","27,809,196","25,720,665",NaN
1,USA,"8,005,859","7,955,489","7,905,119","8,094,534","8,283,949","8,146,895","8,009,841","8,896,419","9,782,997",...,"8,661,535","10,335,765","11,066,432","11,660,699","12,100,095","12,198,137","11,189,985","11,314,705","10,880,019",NaN
2,Japan,"31,597","256,574","481,551","2,885,354","5,289,157","8,166,021","11,042,884","12,264,840","13,486,796",...,"8,398,630","9,943,077","9,630,181","9,774,558","9,278,321","9,204,590","9,693,746","9,728,528","9,684,298",NaN
3,India,"14,688","32,912","51,136","63,773","76,409","95,163","113,917","238,286","362,655",...,"3,927,411","4,174,713","3,898,425","3,840,160","4,160,585","4,519,341","4,782,896","5,174,645","4,516,017",NaN
4,Germany,"306,064","1,181,107","2,056,149","2,949,198","3,842,247","3,860,400","3,878,553","4,427,553","4,976,552",...,"6,146,948","5,649,260","5,718,222","5,907,548","6,033,164","5,746,808","5,645,581","5,120,409","4,661,328",NaN

Melihat data  5 terbawah

In [ ]:
sample.tail()

,Country,1950,1955,1960,1965,1970,1975,1980,1985,1990,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 32
34,Finland,0,0,0,0,0,0,0,0,0,...,"2,54","2,9","7,703","45,035","69,053","55,28","91,598","112,104",0,NaN
35,Philippines,0,0,0,0,0,0,0,0,0,...,"53,921","55,36","52,26","106,938","112,493","116,686","141,251","79,763",0,NaN
36,Egypt,0,0,0,0,0,0,0,0,0,...,"81,731","56,48","39,05","42,515",36,"36,23","36,64","71,6",0,NaN
37,Serbia,0,0,0,0,0,0,0,0,0,...,"11,023","11,032","113,878","103,15","83,63","80,32","79,912","56,449",0,NaN
38,Sweden,28,"78,5",129,220,311,314,317,"330,5",344,...,"188,969","162,814","161,08","154,173","188,987","205,374",226,291,279,NaN

Menghitung missing values pada dataset

In [ ]:
sample.isnull().sum()

Country         0
1950            0
1955            0
1960            0
1965            0
1970            0
1975            0
1980            0
1985            0
1990            0
1995            2
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
Unnamed: 32    39
dtype: int64

Mencari info pada dataset

In [ ]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 33 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      39 non-null     object
 1   1950         39 non-null     object
 2   1955         39 non-null     object
 3   1960         39 non-null     object
 4   1965         39 non-null     object
 5   1970         39 non-null     object
 6   1975         39 non-null     object
 7   1980         39 non-null     object
 8   1985         39 non-null     object
 9   1990         39 non-null     object
 10  1995         37 non-null     object
 11  1999         39 non-null     object
 12  2000         39 non-null     object
 13  2001         39 non-null     object
 14  2002         39 non-null     object
 15  2003         39 non-null     object
 16  2004         39 non-null     object
 17  2005         39 non-null     object
 18  2006         39 non-null     object
 19  2007         39 non-null     object
 20  2008         39 non-null     object
 21  2009         39 non-null     object
 22  2010         39 non-null     object
 23  2011         39 non-null     object
 24  2012         39 non-null     object
 25  2013         39 non-null     object
 26  2014         39 non-null     object
 27  2015         39 non-null     object
 28  2016         39 non-null     object
 29  2017         39 non-null     object
 30  2018         39 non-null     object
 31  2019         39 non-null     object
 32  Unnamed: 32  0 non-null      float64
dtypes: float64(1), object(32)
memory usage: 10.2+ KB

Menganalisa sebuah dataset dengan mendapatkan informasi dasar pada dataset

In [ ]:
sample.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Columns: 33 entries, Country to Unnamed: 32
dtypes: float64(1), object(32)
memory usage: 10.2+ KB

Mendapatkan list kolom pada dataset

In [ ]:
sample.columns

Index(['Country', '1950', '1955', '1960', '1965', '1970', '1975', '1980',
       '1985', '1990', '1995', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', 'Unnamed: 32'],
      dtype='object')

list pada setiap index

In [ ]:
sample.index

RangeIndex(start=0, stop=39, step=1)

tipe default dari setiap index dan kolom bukanlah list

In [ ]:
print(type(sample.columns))
print(type(sample.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

Untuk mendapatkan index dan kolom sebagai list, kita bisa menggunakan method toList()

In [ ]:
sample.columns.tolist()

['Country',
 '1950',
 '1955',
 '1960',
 '1965',
 '1970',
 '1975',
 '1980',
 '1985',
 '1990',
 '1995',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 'Unnamed: 32']

In [ ]:
sample.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38]

Melihat dimensi pada dataframe kita bisa menggunakan method shape

In [ ]:
sample.shape

(39, 33)

Kita bisa menambahkan kolom total di akhir dengan cara sebagai berikut:

In [ ]:
sample['Total'] = sample.sum(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Mendapatkan nilai deskriptif statistik dengan cara sebagai berikut

In [ ]:
sample.describe()

       Unnamed: 32  Total
count          0.0   39.0
mean           NaN    0.0
std            NaN    0.0
min            NaN    0.0
25%            NaN    0.0
50%            NaN    0.0
75%            NaN    0.0
max            NaN    0.0

Mendeklarasi sebuah variabel yang menyetujui kita untuk memudahkan pemanggilan atas rentang tahun

In [ ]:
years = list(map(int,(1950,1955,1960,1965,1970,1975,1980,1985,1990,1995,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019)))
years
#years2 = list(map(int,(1950,1955,1960,1965,1970,1975,1980,1985,1990,1995,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019)))
#years2

[1950,
 1955,
 1960,
 1965,
 1970,
 1975,
 1980,
 1985,
 1990,
 1995,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019]

In [ ]:
sample.index

RangeIndex(start=0, stop=39, step=1)

### 2 FILTERING

In [ ]:
Indonesia = sample['Country'] == 'Indonesia'
print(Indonesia)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16     True
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
Name: Country, dtype: bool

In [ ]:
sample[Indonesia]

,Country,1950,1955,1960,1965,1970,1975,1980,1985,1990,...,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 32,Total
16,Indonesia,0,0,0,0,0,"51,5",103,"51,5",0,...,"1,052,895","1,206,368","1,298,523","1,098,780","1,177,389","1,216,615","1,343,714","1,286,000",NaN,0.0

### 3. LINE PLOT

In [ ]:

print (sample)
print (sample.dtypes)

           Country       1950       1955       1960       1965       1970  \
0            China          0          0     22,574      54,87     87,166
1              USA  8,005,859  7,955,489  7,905,119  8,094,534  8,283,949
2            Japan     31,597    256,574    481,551  2,885,354  5,289,157
3            India     14,688     32,912     51,136     63,773     76,409
4          Germany    306,064  1,181,107  2,056,149  2,949,198  3,842,247
5           Mexico          0     24,904     49,807    121,324    192,841
6         S. Korea          0          0          0      14,41     28,819
7           Brazil          0     66,521    133,041    274,565    416,089
8            Spain        253     29,231     58,209    298,671    539,132
9           France    357,512    863,361  1,369,210  2,059,648  2,750,086
10        Thailand          0          0          0     11,028     22,055
11          Canada    387,726    392,733    397,739    778,622  1,159,504
12          Russia          0          0          0          0          0
13              UK    783,672  1,297,186  1,810,700  1,954,599  2,098,498
14          Turkey          0          0          0       12,5         25
15  Czech Republic          0          0          0          0          0
16       Indonesia          0          0          0          0          0
17            Iran          0          0          0       17,5         35
18        Slovakia          0          0          0          0          0
19           Italy    127,847     386,24    644,633  1,249,443  1,854,252
20          Poland          1         19         37     75,044    113,087
21    South Africa          0          0          0    148,787    297,573
22        Malaysia          0          0          0          0          0
23         Romania          0          6         12       35,5         59
24       Argentina          0       44,5         89      154,3    219,599
25         Hungary          0        1,5          3        1,5          0
26         Morocco          0          0          0          0          0
27         Belgium          0        500          1      148,5        296
28        Portugal          0          0          0          0          0
29        Pakistan          0          0          0          0          0
30          Taiwan          0          0          0          0          0
31      Uzbekistan          0          0          0          0          0
32        Slovenia          0          0          0          0          0
33         Austria          0        6,5         13         10          7
34         Finland          0          0          0          0          0
35     Philippines          0          0          0          0          0
36           Egypt          0          0          0          0          0
37          Serbia          0          0          0          0          0
38          Sweden         28       78,5        129        220        311

         1975        1980        1985        1990  ...        2012  \
0     154,727     222,288     365,765     509,242  ...  19,271,808
1   8,146,895   8,009,841   8,896,419   9,782,997  ...  10,335,765
2   8,166,021  11,042,884  12,264,840  13,486,796  ...   9,943,077
3      95,163     113,917     238,286     362,655  ...   4,174,713
4   3,860,400   3,878,553   4,427,553   4,976,552  ...   5,649,260
5     341,424     490,006     655,282     820,558  ...   3,001,814
6      75,977     123,135     722,383   1,321,630  ...   4,561,766
7     790,632   1,165,174   1,039,820     914,466  ...   3,402,508
8     860,396   1,181,659   1,617,505   2,053,350  ...   1,979,179
9   3,064,260   3,378,433   3,573,713   3,768,993  ...   1,967,765
10     47,701      73,347     189,095     304,843  ...   2,429,142
11  1,264,556   1,369,607   1,658,357   1,947,106  ...   2,463,364
12          0           0           0           0  ...   2,233,103
13  1,705,706   1,312,914   1,439,436   1,565,957  ...   1,576,945
14     37,941      50,881     130,016      209,15  ...   1,072,978
15          0           0           0           0  ...   1,178,995
16       51,5         103        51,5           0  ...   1,052,895
17         98         161     102,833      44,665  ...   1,000,089
18          0           0           0           0  ...     926,555
19  1,732,270   1,610,287   1,865,569   2,120,850  ...     671,768
20    265,461     417,834     382,905     347,975  ...     654,756
21     351,17     404,766     369,773     334,779  ...     539,424
22     52,114     104,227     147,904      191,58  ...      572,15
23       91,5         124         109          94  ...     337,765
24    250,696     281,793     190,716      99,639  ...     764,495
25          0           0           0           0  ...      217,84
26          0           0           0           0  ...     108,743
27    609,713     923,426   1,085,858   1,248,290  ...     538,848
28       45,5          91        58,5          26  ...     163,561
29          0           0           0           0  ...       165,7
30          0           0         191         382  ...     339,038
31          0           0           0           0  ...      164,18
32          0           0           0           0  ...     130,949
33       10,5          14          17          20  ...      143,06
34          0           0           0           0  ...         2,9
35          0           0           0           0  ...       55,36
36          0           0           0           0  ...       56,48
37          0           0           0           0  ...      11,032
38        314         317       330,5         344  ...     162,814

          2013        2014        2015        2016        2017        2018  \
0   22,116,825  23,722,890  24,503,326  28,118,794  29,015,434  27,809,196
1   11,066,432  11,660,699  12,100,095  12,198,137  11,189,985  11,314,705
2    9,630,181   9,774,558   9,278,321   9,204,590   9,693,746   9,728,528
3    3,898,425   3,840,160   4,160,585   4,519,341   4,782,896   5,174,645
4    5,718,222   5,907,548   6,033,164   5,746,808   5,645,581   5,120,409
5    3,054,849   3,365,306   3,565,469   3,600,365   4,068,415   4,100,525
6    4,521,429   4,524,932   4,555,957   4,228,509   4,114,913   4,028,834
7    3,712,380   3,364,890   2,429,463   2,156,356   2,699,672   2,879,809
8    2,163,338   2,402,978   2,733,201   2,885,922   2,848,335   2,819,565
9    1,740,000   1,817,000   1,972,000   2,082,000   2,227,000   2,270,000
10   2,457,057   1,880,007   1,915,420   1,944,417   1,988,823   2,167,694
11   2,379,806   2,393,890   2,283,474   2,370,271   2,199,789   2,020,840
12   2,184,266   1,886,646   1,384,399   1,303,989   1,551,293   1,767,674
13   1,597,433   1,598,879   1,682,156   1,816,622   1,749,385   1,604,328
14   1,125,534   1,170,445   1,358,796   1,485,927   1,695,731   1,550,150
15   1,132,931   1,251,220   1,303,603   1,349,896   1,419,993   1,345,041
16   1,206,368   1,298,523   1,098,780   1,177,389   1,216,615   1,343,714
17     743,647   1,090,846     982,337   1,164,710   1,515,396   1,095,526
18         975         993   1,035,503   1,040,000   1,001,520   1,090,000
19     658,206     697,864   1,014,223   1,103,516   1,142,210   1,060,068
20     590,159     593,904     660,603     681,837     689,729     659,646
21     545,913     566,083     615,658     599,004     589,951     610,854
22     601,407       596,6     614,671     513,445      460,14       564,8
23     410,997     391,422     387,177     359,306      359,25     476,769
24     791,007     617,329     533,683     472,776     472,158     466,649
25       222,4     437,599      495,37         472       505,4     430,988
26     167,452     231,986     288,329     345,106     376,286     402,085
27     503,504     516,832      409,34     399,427      379,14     308,493
28     154,016     161,509     156,626     143,096     175,544     294,366
29     134,145     148,746     229,686      214,65      230,25       269,7
30      338,72     379,223     351,085     309,531     291,563     253,241
31     246,641      245,66       185,4      88,152     140,247     220,667
32      93,734     118,591     133,092     133,702     189,852     209,378
33     166,428      154,34       125,5         108       99,88       164,9
34       7,703      45,035      69,053       55,28      91,598     112,104
35       52,26     106,938     112,493     116,686     141,251      79,763
36       39,05      42,515          36       36,23       36,64        71,6
37     113,878      103,15       83,63       80,32      79,912      56,449
38      161,08     154,173     188,987     205,374         226         291

          2019 Unnamed: 32 Total
0   25,720,665         NaN   0.0
1   10,880,019         NaN   0.0
2    9,684,298         NaN   0.0
3    4,516,017         NaN   0.0
4    4,661,328         NaN   0.0
5    3,986,794         NaN   0.0
6    3,950,617         NaN   0.0
7    2,944,988         NaN   0.0
8    2,822,355         NaN   0.0
9    2,202,460         NaN   0.0
10   2,013,710         NaN   0.0
11   1,916,585         NaN   0.0
12   1,719,000         NaN   0.0
13   1,381,000         NaN   0.0
14   1,461,000         NaN   0.0
15   1,430,000         NaN   0.0
16   1,286,000         NaN   0.0
17           0         NaN   0.0
18           0         NaN   0.0
19           0         NaN   0.0
20           0         NaN   0.0
21           0         NaN   0.0
22           0         NaN   0.0
23           0         NaN   0.0
24           0         NaN   0.0
25           0         NaN   0.0
26           0         NaN   0.0
27           0         NaN   0.0
28           0         NaN   0.0
29           0         NaN   0.0
30           0         NaN   0.0
31           0         NaN   0.0
32           0         NaN   0.0
33           0         NaN   0.0
34           0         NaN   0.0
35           0         NaN   0.0
36           0         NaN   0.0
37           0         NaN   0.0
38         279         NaN   0.0

[39 rows x 34 columns]
Country         object
1950            object
1955            object
1960            object
1965            object
1970            object
1975            object
1980            object
1985            object
1990            object
1995            object
1999            object
2000            object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
2012            object
2013            object
2014            object
2015            object
2016            object
2017            object
2018            object
2019            object
Unnamed: 32    float64
Total          float64
dtype: object

In [ ]:
sample.set_index("Country", inplace=True)

In [ ]:
sample.head(4)

,1950,1955,1960,1965,1970,1975,1980,1985,1990,1995,...,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 32,Total
Country,,,,,,,,,,,,,,,,,,,,,
China,0,0,"22,574","54,87","87,166","154,727","222,288","365,765","509,242","1,434,772",...,"19,271,808","22,116,825","23,722,890","24,503,326","28,118,794","29,015,434","27,809,196","25,720,665",NaN,0.0
USA,"8,005,859","7,955,489","7,905,119","8,094,534","8,283,949","8,146,895","8,009,841","8,896,419","9,782,997","11,985,457",...,"10,335,765","11,066,432","11,660,699","12,100,095","12,198,137","11,189,985","11,314,705","10,880,019",NaN,0.0
Japan,"31,597","256,574","481,551","2,885,354","5,289,157","8,166,021","11,042,884","12,264,840","13,486,796","10,195,536",...,"9,943,077","9,630,181","9,774,558","9,278,321","9,204,590","9,693,746","9,728,528","9,684,298",NaN,0.0
India,"14,688","32,912","51,136","63,773","76,409","95,163","113,917","238,286","362,655",636,...,"4,174,713","3,898,425","3,840,160","4,160,585","4,519,341","4,782,896","5,174,645","4,516,017",NaN,0.0

In [ ]:
USACountry = sample.loc['USA', years]

KeyError: ignored

In [ ]:
display(sample.dtypes)

Konversi dtype object to int64

In [ ]:
sample

In [ ]:
USACountry.plot()